<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings >
    <!-- Website url-->
    <add key="url" value="file:///C:/Users/kvsun/Downloads/Test.html"/>

    <!-- Below configuration is used as threshold to timeout LongRunning tasks( Max time a process a run, otherwise it will timeout).
         Currently threshold is set to 15000 milliseconds ( 15 seconds), it can be changed as per the performance-->
    <add key="taskTimeout" value="10000"/>

  </appSettings>
</configuration>